.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50vh;
    width: 100%;
}

.milk {
    background-image: url("../../../public/mobile/image-gallery-milkbottles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.orange {
    background-image: url("../../../public/mobile/image-gallery-orange.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.cone {
    background-image: url("../../../public/mobile/image-gallery-cone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.sugar {
    background-image: url("../../../public/mobile/image-gallery-sugar-cubes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}


@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        height: 100vh;
    }
}

@media (max-width: 425px) {
    .gallery {
        grid-template-columns: 1fr;
        height: 200vh;
    }
}
